<!-- localhost:6969/home -->


<html>
    <head><h3>This will be our home/main customer frontend page</h3></head>
    <body>
        <p> Add sections in body for login/signup, weather, news, chat, etc.</p>
    </body>
</html>