<!-- localhost:6969/user/signup -->

<html>
    <head>
        
    </head>
    <body>
        <form method="POST" action="/user/signup">
            <p>
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter valid username." />
            </p>
            <p>
                <label>Password</label>
                <input type="password" name="password"  placeholder="Enter valid password." />
            </p>
            <p>
                <label>Email</label>
                <input type="text" name="email"  placeholder="Enter valid email." />
            </p>
            <button>Sign Up</button>
        </form>
    </body>
</html>